<?xml version="1.0"?>
<model>
  <name>zero_diff_drive</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Enzo Ghisoni</name>
    <email>enzo.ghisoni@hotmail.fr</email>
  </author>

  <description>
  Zero diff drive gazebo model for simulation. 

  </description>
</model>
